* {
    outline: none !important;
}

.padding-top-normal {
    padding-top: 20px;
}

.padding-top-high {
    padding-top: 50px;
}

.margin-top-high {
    margin-top: 40px;
}

.button-small-red {
    background-color: #fa414e;
    border: none;
    color: #ffffff;
    text-align: center;
    font-size: 15px;
    padding: 10px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    border-radius: 25px;
}

.button-small-red span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
    width: 120px !important;
}

.button-small-red span:after {
    content: '\292B';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button-small-red:hover span {
    padding-right: 25px;
}

.button-small-red:hover span:after {
    opacity: 1;
    right: 0;
}

.button-small-blue {
    background-color: #4e8cfa;
    border: none;
    color: #ffffff;
    text-align: center;
    font-size: 15px;
    padding: 10px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    border-radius: 25px;
}

.button-small-blue span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
    width: 110px !important;
}

.button-small-blue span:after {
    content: '\270E';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button-small-blue:hover span {
    padding-right: 25px;
}

.button-small-blue:hover span:after {
    opacity: 1;
    right: 0;
}

.button-small-green {
    background-color: #2d8023;
    border: none;
    color: #ffffff;
    text-align: center;
    font-size: 15px;
    padding: 10px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    border-radius: 25px;
}

.button-small-green span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
    width: 110px !important;
}

.button-small-green span:after {
    content: '\01F441';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button-small-green:hover span {
    padding-right: 25px;
}

.button-small-green:hover span:after {
    opacity: 1;
    right: 0;
}

.button-small-yellow {
    background-color: #e6c632;
    border: none;
    color: #ffffff;
    text-align: center;
    font-size: 15px;
    padding: 10px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    border-radius: 25px;
}

.button-small-yellow span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
    width: 140px !important;
}

.button-small-yellow span:after {
    content: '\270E';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button-small-yellow:hover span {
    padding-right: 25px;
}

.button-small-yellow:hover span:after {
    opacity: 1;
    right: 0;
}

.button {
    background-color: #4e8cfa;
    border: none !important;
    color: #ffffff;
    text-align: center;
    font-size: 15px;
    padding: 20px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    border-radius: 25px;
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button:hover span {
    padding-right: 25px;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}

.active-link {
    color: #3490dc;
    cursor: pointer;
}

.active-link:hover {
    color: #1d68a7;
    text-decoration: underline
}

.color {
    color: #ffffff !important;
    cursor: pointer;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;

}
